*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-url:url(.assets/Backgorund.png);
    --text-color:white;
    --stroke-color:rgba(255, 255, 255, 0.5);
    --surface-color:rgba(255, 255, 255, 0.05);
    --surface-color-hover:rgba(255, 255, 255, 0.02);
}
body{
    background: var(--bg-url) no-repeat top center /cover;
    height: 100vh;
}
body *{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}
#container{
    margin: 56px auto 0px;
    border:1px solid white ;
    min-width: 360px;
    max-width: 588px;
}
#fotoPerfil {
    text-align: center;
    padding: 24px;
}
#fotoPerfil img {
    width: 112px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}